$animation-duration-ms: 200;

.field {
    --cell-size: 100px;
    --cell-border-radius: 4px;
    --gap: 10px;
    --field-size: calc(var(--cell-size) * var(--cells-per-row) + var(--gap) * (var(--cells-per-row) - 1));
    position: relative;
    display: grid;
    grid-template-rows: repeat(var(--cells-per-row), var(--cell-size));
    grid-template-columns: repeat(var(--cells-per-row), var(--cell-size));
    gap: var(--gap);
    width: var(--field-size);
    height: var(--field-size);
    margin-bottom: 20px;
    padding: var(--gap);
    overflow: hidden;
    background: #bbada0;
    border-radius: calc(var(--cell-border-radius) + 4px);
}

.game-over {
    content: 'Game over';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgba(119, 110, 101, 0.47);
    background: rgba(255, 255, 255, 0.6);
    border-radius: calc(var(--cell-border-radius) + 4px);
    backdrop-filter: blur(5px);
    animation: fade-in 0.5s linear both;

    &-header {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 60px;
    }

    &-description {
        font-size: 18px;
    }
}

.empty-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background: rgba(238, 228, 218, 0.35);
    border-radius: var(--cell-border-radius);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
